<div class="row">

  <div class="col-md-2 col-lg-2">这里放logo</div>
  <div class="col-md-6 col-lg-6">
    <ul class="nav pills justify-content-center">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">部门首页</a>
      </li>
      <li class="nav-item">
        <a routerLink="news" class="nav-link" routerLinkActive="active">新闻</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link" routerLinkActive="active">人员</a>
      </li>
      <li class="nav-item">
        <a routerLink="projects" class="nav-link" routerLinkActive="active">项目</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">demo演示</a>
        <div class="dropdown-menu animated fadeIn">
          <a class="dropdown-item" routerLink="demo">search-box 演示</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-lg-4">
    <ul class="nav pills justify-content-center">
        <li class="nav-item">
            <a  class="nav-link" [modal]="modal" >登录</a>
        </li>
    </ul>
  </div>


  <!-- 登录控件 开始-->
<app-modal #modal modalId="modal1">
    <div class="modal-header">
      <div>
        用户登录
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <app-login></app-login>
    </div>
  </app-modal>
<!-- 登录控件 结束-->

</div>