<div class="home-footer footer">
    <!-- 友情链接 -->
    <div class="flink-container">
        <div class="box-title-flink">
            <span>友情链接</span>
        </div>
        <div class="index-box-flink">
            <div class="index-box-panel">
                <a target="_blank" href="#" title="八条鱼理财">链接1</a>
                <div class="flink-line"></div>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接2</a>
                <div class="flink-line"></div>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接3</a>
                <div class="flink-line"></div>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接4</a>
                <div class="flink-line"></div>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接6</a>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接7</a>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接8</a>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接9</a>
            </div>
            <div class="index-box-panel">
                <a target="_blank" href="#">链接10</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="show-rz">
            <p>
                <!-- <a id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=321170316000571380559&amp;certType=4">
                    <img class="zqrz" src="/templets/newysemmcn/images/netverify.jpg" alt="已通过互联网金融行业认证">
                </a>
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.ysemm.cn">
                    <img src="/templets/newysemmcn/images/360verify.jpg" alt="已通过360网站安全检测">
                </a> -->
            </p>
        </div>
        <p>© 2018 All Rights Reserved By ztjy.edu.sh.cn   上海教育软件发展有限公司 中小学事业部承建</p>
        <p>
            <a href="#" target="_blank" rel="nofollow">备案号:xxxxxxxx</a>
        </p>
    </div>


</div>