<!-- home demo start -->
<div class="home">

  <div class="carousel margin-bottom-30">
    <app-carousel [isShowControl]="true" (prevRequest)="carouselPrev($event)" (bindSourceRequest)="bindCarousel($event)"></app-carousel>
  </div>


  <div class="home-main margin-bottom-30">

    <!--关于我们 开始-->
    <section class="about-us margin-bottom-30">
      <app-card theme="scard" [data]="item" displayAnimate="animated fadeIn">
        <ng-template #contentTemplate>
          <div class="box-title">
            <span class="box-title-line"></span>
            <h3>about us</h3>
            <h2>关于
              <strong>我们</strong>
            </h2>
            <p>某某部门</p>
            <p>文字行2</p>
            <p>文字行3 </p>
            <img src="http://www.zjdl8.com/img/tong_us.jpg" />
          </div>

          <!-- <div class="row aboutus-list">
            <div class="col-lg-4 col-xs-4 animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">
              <span class="aboutus-service"></span>
              <p>xxxxxxx1</p>
            </div>
            <div class="col-lg-4 col-xs-4 animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">
              <span class="aboutus-resources"></span>
              <p>xxxxxxxxw2</p>
            </div>
            <div class="col-lg-4 col-xs-4 animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">
              <span class="aboutus-technology"></span>
              <p>xxxxxxxxx3</p>
            </div>
          </div> -->
        </ng-template>
      </app-card>

    </section>
    <!--关于我们 结束-->

    <!--新闻 开始-->
    <section class="news margin-bottom-30">
      <div class="index-box-news">
        <div class="box-title">
          <span class="box-title-line"></span>
          <h3>news</h3>
          <h2>部门
            <strong>新闻</strong>
          </h2>
        </div>
        <div class="row news-list">
          <div class="col-lg-5 col-xs-5">

            <div class="news-first-box animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
              <img src="http://www.ysemm.cn/templets/newysemmcn/images/news-first-bg.jpg">
              <div class="news-first-text">
                <a target="_blank" [routerLink]="['/news/detail']">
                  <h4>这里是主要新闻</h4>
                </a>
                <p>主要新闻内容。</p>
              </div>
            </div>

          </div>
          <div class="col-lg-7 col-xs-7">

            <app-list (bindSourceRequest)="bindList($event)" [ShowPagination]=false>
              <ng-template #itemTemplate>
                <div class="col-lg-2 col-xs-2">
                  <span>
                    <strong>2017-07</strong>
                  </span>
                </div>
                <div class="col-lg-10 col-xs-10">
                  <a href="/news/industryinformations/article_20170704_279.html" title="房企的PPP发展模式">
                    <h4>新闻标题1</h4>
                  </a>
                  <p>新闻内容</p>
                  <div class="row-tags">
                    <a href="#">底部链接</a>
                  </div>
                </div>
              </ng-template>
            </app-list>

          </div>
        </div>
      </div>
    </section>
    <!--新闻 结束-->

    <!--项目展示 开始-->
    <section class="projects margin-bottom-30">

      <div class="box-title">
        <span class="box-title-line"></span>
        <h3>projects</h3>
        <h2>项目
          <strong>展示</strong>
        </h2>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 margin-bottom-30  block btn06" *ngFor="let item of [4,5,6,7,8,9,10,11]; index as i">

          <app-card [data]="item" displayAnimate="animated fadeIn">
            <ng-template #contentTemplate>
              <div class="scard-body">
                <a href="#">
                  <img class="card-img-top" src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img{{item}}.jpg">
                </a>
                <div class="card-title"></div>
                <p class="card-text">
                  <strong>项目名称</strong>
                </p>
                <p>
                  项目简介....
                </p>
                <div>
                  <a href="#" class="btn btn-md btn-danger">查看详情</a>
                </div>
                <p>
                </p>
              </div>
            </ng-template>
          </app-card>

        </div>
      </div>

    </section>
    <!--项目展示 结束-->

    <section class="users margin-bottom-30">

      <app-card theme="scard" [data]="item" displayAnimate="animated fadeIn">
        <ng-template #contentTemplate>
          <div class="box-title">
            <span class="box-title-line"></span>
            <h3>Employee</h3>
            <h2>部门
              <strong>大佬</strong>
            </h2>
          </div>
        </ng-template>
      </app-card>

      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 margin-bottom-30  block btn06" *ngFor="let item of [1,2,3,4]; index as i">

          <app-card>
            <ng-template #contentTemplate>
              <div class="user">
                <div class="user-header margin-bottom-30">
                  <!-- <img class="card-img-top" src="http://snowcoal.com/image/portrait/default_header.jpg"> -->
                </div>
                <div class="user-name text-center font-size-16">
                  小伙子
                </div>
              </div>
            </ng-template>
          </app-card>

        </div>
      </div>

    </section>

  </div>
</div>
<!-- home demo end -->

<!-- 回到顶部 start -->
<div class="fixed-btn" appGotoTop>
  回到顶部
</div>
<!-- 回到顶部 end -->
