.default-theme {
  @import "variables.scss"; //$colors: ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800, "nva-dark-color":$navbar-dark-color) !default;
  $default-font: 14px/1.5 'microsoft yaHei', '微软雅黑', tahoma, arial;
  $default-font-size: 14px;
  $margin-zero: 0;
  /*** 
    sass 方法
    ***/
  // @function color($key: "blue") {
  //     @return map-get($colors, $key);
  // }
  @mixin btn-shadow($col) {
    @include gradient-y-three-colors(lighten($col, 8%), $col, 60%, darken($col, 4%));
  }
  .primary {
    background: $primary;
    color: $font-primary-color;
    border: 1px solid #eee;
  }
  direction: ltr;
  margin: $margin-zero;
  color: $color;
  font: $default-font;
  font-size: $default-font-size;
  background-color: $body-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: $default-font;
    margin: $margin-zero;
    color: $color;
  }
  h1 {
    margin-bottom: 15px;
  }
  a {
    &:focus,
    &:active {
      outline: 0;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  header {
    margin: 0;
    padding: 0
  }
  main {
    margin: 0;
    padding: 0;
  }
  footer {
    margin: 0;
    padding: 0;
  } // Navbar ======================================================================
  nav,
  .nav {
    font-size: 14px;
    color: $dropdown-link-color;
    .nav-item .dropdown-menu {
      margin: 0;
    }
    .nav-item:hover .dropdown-menu {
      display: block;
    }
    .nav-link {
      color: $navbar-link-color;
      &:hover {
        color: $navbar-link-hover-color;
      }
    }
    .nav-link.active {
      border-bottom: 1px solid red;
    }
    .dropdown-menu .dropdown-item {
      font-size: 14px;
      color: $navbar-link-color;
      &:hover {
        color: $navbar-hover-color;
        background-color: $blue;
      }
    }
  } // Buttons =====================================================================
  .btn {
    text-shadow: $text-shadow;
  }
  .btn-danger {
    background-color: $yellow;
  }
  .btn-info {}
  .fixed-btn {
    @extend .primary;
  } 
  // alert =====================================================================
  // table =====================================================================
  // form  =====================================================================
  // images  =====================================================================
  // popover  =====================================================================
  // dropdown  =====================================================================
  // card  =====================================================================
  // ...  =====================================================================
}
